@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Martian+Mono&family=Mooli&family=Poppins&display=swap");
/*font-family: 'Dela Gothic One', cursive;
font-family: 'Martian Mono', monospace;
font-family: 'Mooli', sans-serif; */

@media screen and (max-width: 970px) {
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.left-card {
  width: 100vw;
  height: 80vh;
  margin: 0rem auto;

  .left-card-content {
    display: block;
    padding-top: 10rem;
  }
  h1 {
    font-family: "Dela Gothic One", cursive;
    color: #cfcfcf;
    margin-bottom: 1rem;
    font-size: 3rem;
    text-align: center;
  }
  h3 {
    color: #cecece;
    font-family: "poppins";
    text-align: center;
    margin-bottom: 2rem;
  }
  a {
    text-decoration: none;
    color: black;
    display: block;
    margin: 0 auto;
    width: fit-content;
  }
  button {
    display: block;
    margin: 1rem auto;
    padding: 0.7rem;
    font-family: 'Martian Mono';
    font-size: 0.8rem;
    background-color: #afcd4d;
    border: transparent;
    border-radius: 0.2rem;
    box-shadow: 0px 8px 0px #c858ae;
    cursor: pointer;

    &:active {
        transform: scale(0.95);
    }
  }
  .arrow-down {
    color: white;
    margin: 5rem auto;
    text-align: center;
    font-size: 2rem;
    animation: jumpInfinite 1.2s infinite;

  }
  @keyframes jumpInfinite {
    0% {
      margin-top: 5rem;
    }
    50% {
      margin-top: 7rem;
    }
    100% {
      margin-top: 5rem;
    }}
}
@media screen and (max-width: 970px) {
  .left-card {
    width: 100vw;
    height: 500px;
    margin: auto;
    position: static;
  }
}

.scroll-container {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
  margin-bottom: 1rem;

  .cards {
    height: 400px;
    width: 45%;
    background-color: #cecece;
    box-shadow: 15px 15px 0px #e06969;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    padding: 0.5rem;
    
    &:nth-child(even) {
        background-color: #9ab14f;
        box-shadow: 15px 15px 0px #c858ae;
      }

    h1 {
      font-family: "poppins", sans-serif;
      padding: 1rem;
    }
  }
}
@media screen and (max-width: 970px) {
  .scroll-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    .cards {
        width: 80vw;
        margin: 3rem auto;
    }
  }
}

.lower-container {
  margin-top: 1px;
  z-index: 0;
  background-color: #cecece;
  width: 100vw;
  margin-top: 8rem;
}
