@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Martian+Mono&family=Mooli&family=Poppins&display=swap");
/*font-family: 'Dela Gothic One', cursive;
font-family: 'Martian Mono', monospace;
font-family: 'Mooli', sans-serif;
#ef629f, #5490e0*/

.heading-profile {
  text-align: center;
  padding: 2rem;
  padding-bottom: 4rem;
  margin: 1rem;
  font-family: "Dela Gothic One", cursive;
  color: #b6be9c;
}

.fields {
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  .fields-label {
    color: #b6be9c;
  }
  .fields-profile {
    font-family: "poppins";
    color: #cecece;
  }
}

hr {
  width: 80%;
  margin: 3rem auto;
}

.update-heading {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-family: "Dela Gothic One", cursive;
  font-size: 1.3rem;
  color: #9c8af3;
  text-align: center;
}

.profile-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;

  label {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: #9c8af3;
    margin-right: 1.5rem;
  }

  input {
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: none;
    background-color: #3f308a;
    font-family: "Mooli", monospace;
    font-size: 0.8rem;
    margin-right: 2rem;

    &:focus {
      background-color: #9c8af3;
    }
  }

  button {
    font-size: 1rem;
    padding: 0.6rem;
    width: 5rem;
    font-family: "Mooli", monospace;
    background-color: #9c8af3;
    border-radius: 0.2rem;
    box-shadow: 3px 4px 0px #c858ae;
    border: 1px solid transparent;
    cursor: pointer;
  }
}

.delete {
  text-align: center;
  margin-top: 4rem;
  
  span {
    font-family: 'Poppins';
    margin-right: 2rem;
    color: #fb3434;
  }

  .delete-button {
    font-size: 1rem;
    padding: 0.6rem;
    width: 10rem;
    font-family: "Mooli", monospace;
    background-color: #9c8af3;
    border-radius: 0.2rem;
    box-shadow: 3px 4px 0px #c858ae;
    border: 1px solid transparent;
    cursor: pointer;
  }
}

.job-profile-heading {
  color: #b6be9c;
  margin-top: 8rem;
  margin-bottom: 4rem;
  font-family: "Dela Gothic One", cursive;
  font-size: 1.3rem;
  text-align: center;
}

ul {
  a {
    text-decoration: none;
  }
}
